.modal{

    position: fixed; /* Position the modal */
    z-index: 1; /* Ensure it appears on top of other elements */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if content exceeds viewport */
    background-color: rgba(0,0,0,0.4); /* Black with transparency */
}

.content{
    background-color: #fefefe;
    margin: 15% auto; /* Center modal vertically and horizontally */
    padding: 30px;
    border: 1px solid #888;
    width: 30%; /* Set width of modal */
    border-radius: 2em;
}


.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

.input{
    display: block;
    text-align: left;
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 2em;
 }

 .title {
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.button {
    text-decoration: none;
    border: 1px solid rgb(188, 158, 113);
    border-radius: 25px;
    color:rgb(188, 158, 113) ;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 15px;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    color: white;
    background-color: rgb(188, 158, 113);
    cursor: pointer;
}