.nav{
    overflow: hidden;
    background-color: white;
    padding: 1em 1em;
    width: 100%;
    font-weight:bolder ;
  }

.nav a {
    float:left;
    color: rgb(188, 158, 113);
    text-align: center;
    padding: 20px;
    text-decoration:solid ;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
  }

  .nav a.logo {
    display: inline-block;
    font-size: 35px;
    font-weight:bolder;
    border: 1px rgb(188, 158, 113) solid;
  
  }

  .nav a.logo:hover {
    color: white;
    background-color: rgb(220, 189, 142);
    border: 1px rgb(188, 158, 113) solid;
   
  }

  @media screen and (max-width: 500px) {
    .nav a {
      float: none;
      display: block;
      text-align: left;
    }
    .menu {
      float: none;
    }
  }

  .menu {
    text-align: center;
    margin-left: 240px;
    padding-left: 240px;
  }

.authButtons {
  padding-right: 50px;
  padding-left: 80px;
}