

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border: floralwhite;
    border-radius: 10px;
}

.container {
    display: flex;

}

.centered {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    color: rgb(188, 158, 113);
    transform: translate(-15%, -10%);
}

.contactBtn {
    text-decoration: none;
    border: 1px solid rgb(188, 158, 113);
    border-radius: 25px;
    color:rgb(188, 158, 113) ;
    display: inline-block;
    padding: 10px 40px;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
}

.contactBtn:hover{
    color: white;
    background-color: rgb(188, 158, 113);
}

@media screen and (min-width:600px) and (max-width:1080px) {
  .centered {
    top:50%;
    left: 35%;
  }
}