@media screen and (max-width: 1200) {
  .container div{
    padding: 0.1em;
  }
}
  
.container{
  display: flex;
  flex-direction: row;
  padding: 3em 1em 2em 1em;
}

.container div{
  text-align: center;
  padding: 0 3em;
  margin-bottom: 1em;
  color: rgb(188, 158, 113);
}

.container a{
  text-decoration: none;
  font-size:xx-large;
  font-weight: bold;
  color: rgb(188, 158, 113);
}
  