
  
  .footerContainer div{
   display: inline-block;
   flex-direction: row;
   max-width: 30%;
   padding: 3em;
   margin-top: 0em;
   color: rgb(188, 158, 113);
   font-size: larger;
  }
  
  .copyright {
    text-align: center;
    color: rgb(188, 158, 113);
    font-size: larger;
  }
  
  input, button{
    display: block;
    padding: 5px;
    margin:2px
  }
  
  
  