.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img{
    width: 600px;
    height: auto;
}

.loginContainer{
    display: flex;
    flex-direction: column;
   
    background-color: whitesmoke;
}

.loginForm {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    padding-bottom: 40px;
    padding-top: 15px;
}

.input{
    display: block;
    text-align: left;
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 1em;
}

 .title {
    text-align: center;
    margin-left: 30px;
}

.label {
    font-weight: bold;
}

.submitBtn {
    width: 120px;
    padding: 20px;
    margin: 20px 10px;
    color: black;
    font-size: larger;
    cursor: pointer;
    border-radius: 1em;
}

.submitBtn:hover{
    background-color: rgba(82, 81, 79, 0.372);
}

a {
    padding: 10px;
}

.errors {
    color: red;
}


