.div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    padding-bottom: 40px;
}

.input{
    display: block;
    text-align: left;
    width: 300px;
    padding: 15px;
    margin: 15px;
}

 .title {
    text-align: center;
    margin-left: 30px;
}

.label {
    font-weight: bold;
    
}


.button {
    text-decoration: none;
    border: 1px solid rgb(188, 158, 113);
    border-radius: 25px;
    color:rgb(188, 158, 113) ;
    display: inline-block;
    padding: 10px 40px;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
}

.button:hover{
    color: white;
    background-color: rgb(188, 158, 113);
}


.a {
    padding: 10px;
}

