.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

.input{
    display: block;
    text-align: left;
    width: 300px;
    padding: 15px;
    margin: 15px;
 }

 .title {
    text-align: center;
    margin-left: 30px;
    margin-top: 80px;
}

.button {
    text-decoration: none;
    border: 1px solid rgb(188, 158, 113);
    border-radius: 25px;
    color:rgb(188, 158, 113) ;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 15px;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    color: white;
    background-color: rgb(188, 158, 113);
    cursor: pointer;
}